<div class="container">
  <p class="option-btn-container">
    <button type="button" name="button" ng-click="$ctrl.reset()">
      Reset
    </button>
    <button type="button" name="button" ng-click="$ctrl.restart()" ng-disabled="!$ctrl.luckyDog || $ctrl.inTheLottery">
      Restart
    </button>
  </p>

  <p class="title">2017年软件研发中心暨抽奖活动</p>

  <p class="trophy-name" ng-if="$ctrl.trophy">{{$ctrl.trophy.id}} {{$ctrl.trophy.name}}</p>
  <p class="trophy-name" ng-if="!$ctrl.trophy">抽奖完毕</p>

  <div class="lottery">
    <span class="lucky-dog" ng-if="$ctrl.luckyDog.name">
      {{ $ctrl.luckyDog.name }}
    </span>
    <span class="lucky-dog" ng-if="!$ctrl.luckyDog.name">
      ？？？
    </span>
  </div>
  <div class="action-btn" ng-click="$ctrl.inTheLottery = !$ctrl.inTheLottery" ng-hide="!$ctrl.trophy && !$ctrl.cover">
    <p ng-show="!$ctrl.inTheLottery">开始</p>
    <p ng-show="$ctrl.inTheLottery">停止</p>
  </div>
  <div class="trophy">
    <span class="lucky-dog-btn" ui-sref="lucky-dog">
      查看获奖记录
    </span>
  </div>
</div>
<!-- <h1>lottery</h1>
<p>
  Ready trophy: {{$ctrl.trophy.id}} {{$ctrl.trophy.name}}
</p>



<h2>{{ $ctrl.luckyDog.name }}</h2>

<ul>
  <li ng-repeat="trophy in $ctrl.trophies">{{trophy.id}} {{trophy.name}} 还剩 {{trophy.count}} 个</li>
</ul>

<h2>Lucky Dogs</h2>

<ul>
  <li ng-repeat="lucky in $ctrl.luckyDogs">{{lucky.name}} {{lucky.trophy}}</li>
</ul>

<p align="right">
  <a href="/lucky-dog" target="_lucky_dogs">lucky dogs page</a>
</p> -->
