<h1>lottery</h1>

<p>
  Ready trophy: {{$ctrl.trophy.name}}
</p>

<button type="button" name="button" ng-click="$ctrl.inTheLottery = !$ctrl.inTheLottery">
  <span ng-show="!$ctrl.inTheLottery">Start</span>
  <span ng-show="$ctrl.inTheLottery">Stop</span>
</button>
<button type="button" name="button" ng-click="$ctrl.reset()">
  Reset
</button>

<h2>{{ $ctrl.luckyDog.name }}</h2>

{{$ctrl.trophyIssued}}
<ul>
  <li ng-repeat="trophy in $ctrl.trophies">{{trophy.name}} 还剩 {{trophy.count}} 个</li>
</ul>

<h2>Luckey Dogs</h2>

<ul>
  <li ng-repeat="luckey in $ctrl.luckeyDogs">{{luckey.name}} {{luckey.trophy}}</li>
</ul>
