<div class="container">
  <h1 class="title-lucky-dog">{{$ctrl.lang.luckyDog.title}}</h1>
  <img class="lucky-dog-bg" src="/images/lucky-dog-bg.png" alt="">
  <div class="lucky-dogs-container">
    <table>
      <tr ng-repeat="lucky in $ctrl.luckyDogs | orderBy: '-time'">
        <td>{{lucky.time | date: 'hh:mm:ss'}}</td>
        <td>{{lucky.name}}</td>
        <td>{{lucky.trophyId}} {{lucky.trophy}}</td>
      </tr>
    </table>
  </div>
</div>

<!-- <h2>Lucky Dogs</h2>

<ul>
  <li ng-repeat="lucky in $ctrl.luckyDogs">{{lucky.trophyId}} {{lucky.trophy}} {{lucky.name}}</li>
</ul> -->
