body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  background: url('/images/bg.png');
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}

.lucky-dog-bg {
  position: absolute;
  top: 10%;
  margin: auto;
  left: 0;
  right: 0;
  height: 70%;
}

.title {
  color: #fff;
  position: absolute;
  top: 40vh;
  left: 0;
  right: 0;
  font-size: 4vh;
}

.trophy-name {
  color: #fff;
  position: absolute;
  top: 48vh;
  left: 0;
  right: 0;
  font-size: 3vh;
}

.lottery {
  position: absolute;
  top: 59vh;
  left: 0;
  right: 0;
  font-size: 3vh;

  .lucky-dog {
    border: #000 2px solid;
    border-radius: 50px;
    padding: 5px 40px;
    background-color: #ededed;
  }
}

.trophy {
  position: absolute;
  top: 70vh;
  left: 0;
  right: 0;
  font-size: 2.5vh;
  color: #fff;

  .lucky-dog-btn {
    cursor: pointer;
    border: #fff 2px solid;
    border-radius: 5px;
    padding: 5px 20px;
  }
}

.action-btn {
  cursor: pointer;
  position: absolute;
  top: 56vh;
  left: 60vw;
  color: #fff;
  background-color: #F60015;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.325);
  font-size: 2.5vh;
  border-radius: 100%;
  border: #fff 2px solid;
  width: 10vmin;
  height: 10vmin;

  p {
    margin-top: 3.2vh;
    font-weight: bold;
  }
}

.action-btn:active {
  box-shadow: inset 0 5px 8px rgba(0,0,0,.325);
}

.title-lucky-dog {
  position: absolute;
  top: 24%;
  left: 10%;
  right: 0;
  color: red;
  z-index: 1;
  font-size: 1.7em;
}

.lucky-dogs-container {
  position: absolute;
  top: 32%;
  left: 42%;
  margin: auto;
  font-size: 18px;
}

.option-btn-container {
  text-align: right;
  margin: 0;
}
