body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  background: url('/images/bg.png');
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}

.lucky-dog-bg {
  position: absolute;
  top: 10%;
  margin: auto;
  left: 0;
  right: 0;
  height: 70%;
}

.title {
  color: #fff;
  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
}

.trophy-name {
  color: #fff;
  position: absolute;
  top: 46%;
  left: 0;
  right: 0;
}

.lottery {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  font-size: 32px;

  .lucky-dog {
    border: #000 2px solid;
    border-radius: 50px;
    padding: 5px 40px;
    background-color: #ededed;
  }
}

.trophy {
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  font-size: 22px;
  color: #fff;

  .lucky-dog-btn {
    cursor: pointer;
    border: #fff 2px solid;
    border-radius: 5px;
    padding: 5px 20px;
  }
}

.action-btn {
  position: absolute;
  top: 65%;
  color: #fff;
  font-size: 24px;
  border-radius: 100%;
  border: #fff 2px solid;
  padding: 25px 20px;
  width: 50px;
  height: 50px;
}

.title-lucky-dog {
  position: absolute;
  top: 24%;
  left: 10%;
  right: 0;
  color: red;
  z-index: 1;
  font-size: 1.7em;
}

.lucky-dogs-container {
  position: absolute;
  top: 32%;
  left: 42%;
  margin: auto;
  font-size: 18px;
}
